* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 0;
}
header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  box-shadow: 3px 3px 5px 1px rgb(148, 147, 147);

  div.logo {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    flex: 5 1 400px;
    img {
      width: 6vw;
      height: 6vw;
    }
  }
  nav {
    flex: 2 1 400px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        a {
          color: #147479;
          text-decoration: none;
          font-size: 1.35rem;
        }
      }
    }
  }
}

main {
  section.backimage {
    min-height: 90vh;
    min-width: 100%;
    background-image: url(../Pics/Pictures/pexels-photo-416676.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
      font-size: 3.5rem;
      color: white;
    }

    button.start {
      background-color: #22b7c0;
      font-size: 2rem;
      color: black;
      padding: 1rem 2.5rem;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      margin: 5rem;
    }

    div.filter {
      background-color: rgba(0, 0, 0, 0.35);
      width: 100%;
      min-height: 90vh;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    div.logo {
      margin-left: 0.5rem;
      img {
        width: 15vw;
        height: 15vw;
      }
    }
  }
  footer {
    div.logo {
      margin-left: 0.5rem;
      img {
        width: 15vw;
        height: 15vw;
      }
    }
  }
}

// second page styling
section.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  h2 {
    font-size: 2rem;
    margin: 2rem 1.5rem;
  }

  section.cards {
    display: flex;
    width: 80%;
    min-height: 80vh;
    flex-wrap: wrap;

    div.card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 1rem;
      flex: 1 1 300px;

      div.img_container {
        overflow: hidden;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        margin: 1rem 0rem;
        img {
          width: 15vw;
          height: 15vw;
          border-radius: 50%;
          margin: 1rem 0rem;
          transition: 0.2s;
        }
        img:hover {
          transform: scale(1.2);
        }
      }

      h4 {
        font-size: 2rem;
        margin: 1rem 0rem;
      }

      p {
        font-size: 1.05rem;
      }
      a {
        text-decoration: none;
        padding: 1rem 1.5rem;
        background-color: #147479;
        color: white;
        border-radius: 8px;
        font-size: 1.25rem;
        margin: 1rem 0rem;
      }
    }
  }
}

// scroll bar styling
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #147479;
}

@media screen and (max-width: 700px) {
  main {
    section.second {
      section.cards {
        div.card {
          img {
            width: 40vw;
            height: 40vw;
          }
        }
      }
    }
  }
}

// Footer Styling

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 28vh;
  justify-content: space-around;
  background-color: #edecec;

  div.logo {
    display: flex;
    align-items: center;
    margin-left: -2rem;
  }

  nav {
    width: 30%;
    ul {
      display: flex;
      list-style-type: none;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
      li {
        flex-basis: 100px;
        a {
          color: black;
          text-decoration: none;
          font-size: 1.35rem;
        }
      }
    }
  }

  section.link {
    margin-left: -2rem;
    a {
      margin: 0rem 1rem;
      img {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}
