* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  -webkit-box-shadow: 3px 3px 5px 1px #949393;
          box-shadow: 3px 3px 5px 1px #949393;
}

header div.logo {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 400px;
          flex: 5 1 400px;
}

header div.logo img {
  width: 6vw;
  height: 6vw;
}

header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li a {
  color: #147479;
  text-decoration: none;
  font-size: 1.35rem;
}

main section.backimage {
  min-height: 90vh;
  min-width: 100%;
  background-image: url(../Pics/Pictures/pexels-photo-416676.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main section.backimage h3 {
  font-size: 3.5rem;
  color: white;
}

main section.backimage button.start {
  background-color: #22b7c0;
  font-size: 2rem;
  color: black;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin: 5rem;
}

main section.backimage div.filter {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  min-height: 90vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 550px) {
  header div.logo {
    margin-left: 0.5rem;
  }
  header div.logo img {
    width: 15vw;
    height: 15vw;
  }
  footer div.logo {
    margin-left: 0.5rem;
  }
  footer div.logo img {
    width: 15vw;
    height: 15vw;
  }
}

section.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.second h2 {
  font-size: 2rem;
  margin: 2rem 1.5rem;
}

section.second section.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 80vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.second section.cards div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

section.second section.cards div.card div.img_container {
  overflow: hidden;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin: 1rem 0rem;
}

section.second section.cards div.card div.img_container img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin: 1rem 0rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section.second section.cards div.card div.img_container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section.second section.cards div.card h4 {
  font-size: 2rem;
  margin: 1rem 0rem;
}

section.second section.cards div.card p {
  font-size: 1.05rem;
}

section.second section.cards div.card a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #147479;
  color: white;
  border-radius: 8px;
  font-size: 1.25rem;
  margin: 1rem 0rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #147479;
}

@media screen and (max-width: 700px) {
  main section.second section.cards div.card img {
    width: 40vw;
    height: 40vw;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 28vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #edecec;
}

footer div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -2rem;
}

footer nav {
  width: 30%;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer nav ul li {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

footer nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.35rem;
}

footer section.link {
  margin-left: -2rem;
}

footer section.link a {
  margin: 0rem 1rem;
}

footer section.link a img {
  width: 4vw;
  height: 4vw;
}
/*# sourceMappingURL=style.css.map */